.home {
  display: flex;
  flex-direction: column;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.body {
  display: flex;
  overflow: hidden;
}
