.profile {
  display: flex;
  padding-top: 120px;
  column-gap: 60px;
}

.navigation_list {
  display: flex;
  flex-direction: column;
  margin-bottom: 93px;
  padding-left: 0;
}

.hint {
  color: #8585ad;
  font-size: 16px;
  opacity: 0.4;
}

.navigation {
  width: 100%;
  max-width: 320px;
}

.nav_item {
  cursor: pointer;
}

.nav_item:not(:last-child) {
  margin-bottom: 35px;
}

.content {
  display: flex;
  align-items: start;
}
