body {
  margin: 0;
}

.text-centered {
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.text_color_link {
  color: #4c4cff;
}

/* Fix for scrollbar */

@supports (scrollbar-color: auto) {
  .custom-scroll {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }

  body {
    scrollbar-color: #8585ad #2f2f37;
    scrollbar-width: thin;
  }
}
