.burger_ingredients {
  display: grid;
  grid-template-rows: auto 1fr;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.body {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
}

.body_list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 16px;
}

.ingredient {
  width: 100%;
  max-width: calc(50% - 12px);
}
